
  .w-form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
  }
  .w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
  }


  .sign-up-wrap {
    width: 432px;
    min-height: 400px;
    padding-top: 52px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 15px;
    /* background-color: #827070d1; */
  }


.text_field {
    padding-top: 25px;
    padding-bottom: 25px;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #d6c9c983;
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.979);
    font-size: 22px;
    text-align: center;
  }
  
  .form {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .submit-button {
    min-width: 234px;
    margin-top: 50px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 100px;
    background-color: #fff;
    -webkit-transition: all 325ms cubic-bezier(.215, .61, .355, 1);
    transition: all 325ms cubic-bezier(.215, .61, .355, 1);
    color: #000;
    font-size: 22px;
    line-height: 22px;
  }
  
  .submit-button:hover {
    background-color: hsla(0, 0%, 100%, 0.7);
  }
  
  .paragraph {
    margin-bottom: 0px;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
  }
  
  .link {
    color: hsla(0, 0%, 100%, 0.69);
  }
  
  .sign-up {
    margin-top: 40px;
    margin-right: -35px;
    margin-left: -35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid hsla(0, 0%, 100%, 0.34);
  }
  
  