/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 500px;
        width: 500px;
        z-index: 1;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 15;
        padding: 15;
      }

      #map-container img{
        z-index: 1;
    }