/* .datepicker {
    width: 100% !important;
    position: relative
}

.modal { width: 100% !important ; height: 75% !important ; }  

.picker_holder {
    position: relative
}

.picker__box{ 
    margin: 60px;
    width: 500px;
  } 
  .picker__date-display, .picker__weekday-display{
    background-color: #408080;
  } */